@model IEnumerable<AudioProntuario.Models.Audio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div id="Gravacao" >
        
    <button type="button" id="btnStop" onclick="stop();">Stop</button>
    <div id="screen">"00:00"</div>
    <button type="button" id='btnStart' onclick="start();">Novo Audio</button>
    <button type="button" id='btnSave' onclick="save();">Salvar Audio</button>

</div>
}

<br/>

<div class="col-md-10">


    @foreach (var item in Model)
    {
        <div class="col-md-11">
            @{
                //var base64 = Convert.ToBase64String(item.AudioProntuario);

            }

            <div>
                <div class="btn btn-info" onclick="tocaAudio(@item.idAudio)">
                    <p>Audio @item.idAudio</p>
                    <audio id="@item.idAudio" controls autoplay></audio>
                </div>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Audio", new { id = item.idAudio })"> Deletar</a>
            </div>

        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script>

    const audio = document.createElement('audio')
    var hour = new Date();
    //botao liga e desliga o cronometro
    var botao = false;
    var acumularTime = 0;
    let mediaRecorder;

    window.onload = function () {
        pantalla = document.getElementById("screen");
        $("#screen").hide()
        $("#btnStop").hide()
        $("#btnSave").hide()
    }

    function cronometro() {
        timeActual = new Date();
        acumularTime = timeActual - timeInicial;
        acumularTime2 = new Date();
        acumularTime2.setTime(acumularTime);
        ss = acumularTime2.getSeconds();
        mm = acumularTime2.getMinutes();
        if (ss < 10) { ss = "0" + ss; }
        if (mm < 10) { mm = "0" + mm; }
        pantalla.innerHTML = mm + " : " + ss
    }

    function load() {
        setTimeout("window.open(self.location, '_self');", 10);
    }


    function zera() {
        acumularTime = 0;
        pantalla.innerHTML = "00 : 00";
        $("#screen").hide()
    }

    function stop() {
        load()
    }

    function save() {
        var audio2 = document.getElementById('temp')
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SalvarAudio")',
            data: {
                'base64': audio2.src,
                 'duracao': document.getElementById('screen').textContent,
                 //Pega o horario do cliente
                 'hora': hour.getHours() + " : " + hour.getMinutes()
            },
            success: function (result) {
                  zera()
                  window.open(self.location, '_self')
            },
            error: function (result) {
                audio.id = "temp"
                audio.src = reader.result
                audio.controls = true
                $("#screen").show()
                $("#btnStop").show()
                $("#btnSave").show()
                $("#btnStart").hide()
                $('#btnStart').text('Novo Audio');
                $("#Gravacao").append(audio)

            }
        })
    }


    function start() {

        if ($('#btnStart').text() == 'Save') {
            mediaRecorder.stop();
            if (botao == true) {
                clearInterval(control);
                botao = false;
            }
            $("#screen").hide()
            $("#btnStop").hide()
        }

        else {
            navigator
            .mediaDevices
            .getUserMedia({ audio: true })
            .then(stream => {
                steam = stream;
                mediaRecorder = new MediaRecorder(stream)
                let chunks = []
                mediaRecorder.ondataavailable = data => {
                    chunks.push(data.data)
                }

                mediaRecorder.onstop = () => {
                    stream.getTracks().forEach(track => track.stop());
                    $('#btnStart').text('Novo Audio');
                    const blob = new Blob(chunks, { type: 'audio/ogg; code=opus' })
                    const reader = new window.FileReader()
                    reader.readAsDataURL(blob)
                    reader.onloadend = () => {
                        //Colocar o POST no comando abaixo
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("SalvarAudio")',
                            data: {
                                'base64': reader.result,
                                'duracao': document.getElementById('screen').textContent,
                                //Pega o horario do cliente
                                 'hora': hour.getHours() + " : " + hour.getMinutes()
                            },
                            success: function (result) {
                                zera()
                                window.open(self.location, '_self')
                            },
                            error: function (result) {
                                 audio.id = "temp"
                                 audio.src = reader.result
                                 audio.controls = true
                                 $("#screen").show()
                                 $("#btnStop").show()
                                 $("#btnSave").show()
                                 $("#btnStart").hide()
                                 $('#btnStart').text('Novo Audio');
                                 $("#Gravacao").append(audio)

                            }
                        })
                    }
                }

                mediaRecorder.start();
                if (botao == false) {
                    timeInicial = new Date();
                    control = setInterval(cronometro, 10);
                    botao = true;
                }
                $("#screen").show()
                $('#btnStart').text('Save');
                $("#btnStop").show()
                setTimeout(function () {
                    mediaRecorder.stop();
                }, 420000)
            }, err => {
                alert('Voce deve permitir o audio')
            });
        }
    }

    function tocaAudio(id) {

        $.ajax({
            type: 'GET',
            url:'@Url.Action("TocarAudio", "Audio")',
            data: {
                id: id
            },
           success: function (result) {
               const audio = document.createElement('audio')
               audio.src = result
               audio.controls = true
               document.getElementById(id).setAttribute('src', result);
            }
        })
    }


</script>
}
